@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

/* ---------- Theme ---------- */

:root{
  --background:#030712;
  --surface:#111827;
  --card:#1f2937;

  --primary:#3b82f6;
  --secondary:#8b5cf6;
  --accent:#06b6d4;

  --text:#f8fafc;
  --muted:#94a3b8;
}

/* ---------- Reset ---------- */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:"Inter",sans-serif;
  background:var(--background);
  color:var(--text);
}

h1,h2,h3,h4,h5,h6{
  font-family:"Space Grotesk",sans-serif;
}

a{
  text-decoration:none;
  color:inherit;
}

button{
  cursor:pointer;
  font:inherit;
}

img{
  display:block;
  max-width:100%;
}

/* ---------- Scrollbar ---------- */

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:var(--primary);
  border-radius:999px;
}

::-webkit-scrollbar-track{
  background:#111827;
}

::selection{
  background:var(--primary);
  color:white;
}